.contact {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.contact-me {
    font-size: x-large;
}

.cont-container {
    width: 100%;
    height: 100%;
    max-width: 80%;
    margin: 0 auto;
}

.contactform {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin: 0 auto;
}

.contactinput {
    border: none;
    border-radius: 10px;
    background-color: rgb(243, 240, 240);
    color: black;
    padding: 1rem;
    margin: 0.5rem;
    outline: none;
}

textarea {
    height: 200px;
}

.contactbtn {
    align-self: center;
    width: fit-content;
    height: auto;
    background-color: gold;
    color: black;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

@media screen and (max-width:900px) {
    .cont-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contactform {
        margin-right: 0;
        width: 100%;
        max-width: 100%;
    }
}

.contactbtn:active {
    background-color: transparent;
}

@media (max-width: 490px) {
    .contact-me {
        font-size: 2.5rem;
    }
}